* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}
body{
	padding-right: 0 !important;
}
.title {
	font-weight: bold;
	color: white;
}
#sidebarLeft {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 25%;
	padding: 16px;
	background-color: #13C0E5;
}
#sidebarRight {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 25%;
	padding: 16px;
	background-color: #13C0E5;
	overflow-y: auto;
}
#mainContent {
	padding: 24px;
	background-color: #e4e4e4;
	height: 100%;
}
.postCard {
	background: white;
	border-radius: 8px;
	padding: 16px;
	margin-top: 16px;
}
.profile-picture,
.profile-background {
	position: absolute;
	object-fit: cover;
}
.profile-picture {
	margin-top: 100px;
	margin-left: 25px;
	width: 100px;
	height: 100px;
	background-color: blue;
	border-radius: 55px;
	border: 5px solid white;
}
.profile-background {
	width: 100%;
	height: 150px;
	background-color: #999;
}
.background {
	margin-top: 150px;
	width: 100%;
	height: 80px;
	background-color: white;
}
.form-logout {
	color: white;
	height: 50px;
	width: 100%;
	padding: 2px;
	border-radius: 6px;
	border-style: solid;
	border-width: thin;
}
.btn-logout {
	font-size: 1em;
	font-weight: bold;
	background-color: #1390A0;
	border-color: #1390B2;
}
.friendCard {
	background: white;
	border-radius: 16px;
	padding: 10px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: row;
}
.friendCard > .name {
	margin-top: auto;
	margin-left: 16px;
	font-weight: bold;
}
.nama {
	position: relative;
	margin-left: 24px;
	margin-top: 200px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Ubuntu, "Helvetica Neue", sans-serif;
}
.username {
	position: relative;
	font-family: sans-serif;
	margin-left: 24px;
}

.uploadPhoto {
	position: absolute;
	width: 24px;
	height: 24px;
	background: white;
	border-radius: 20px;
	cursor: pointer;
}
.uploadPhoto > img {
	margin-left: 50%;
	margin-top: 50%;
	transform: translate(-50%, -50%);
}

.profileSection {
	display: flex;
}
.profile-photo {
	width: 40px;
	height: 40px;
	background-color: #999;
	border-radius: 40px;
	flex-shrink: 0;
}
.accountIdentity {
	margin-left: 16px;
}
.accountIdentity > p {
	margin: 0;
}
.accountName {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 0.8;
}
.postTime {
	font-size: 0.9em;
	color: #7d7d7d;
}
.btn-like {
	margin-top: 16px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border: solid #2424;
	border-width: 1px 0px;
}
.comment {
	margin: 8px 16px;
	display: flex;
	flex-direction: row;
}
.comment-photo {
	width: 30px;
	height: 30px;
	background-color: #999;
	border-radius: 30px;
	flex-shrink: 0;
}
.comment-id {
	background-color: #eeeeeede;
	margin-left: 16px;
	padding: 10px;
	border-radius: 16px;
}
.commentator {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 0.9em;
}
.comments {
	margin-bottom: 0;
	font-size: 0.9em;
}
.addCommentSection {
	margin-top: 16px;
	display: flex;
}
.inputComment {
	width: 100%;
	margin: 0px 16px;
	padding: 0px 20px;
	font-size: 0.9em;
	border: none;
	background: #eee;
	border-radius: 16px;
}
.submitComment {
	display: flex;
	align-items: center;
	background-color: #13c0e5;
	padding: 0px 10px;
	border-radius: 16px;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
	box-shadow: none;
}
