* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}
.title {
	font-weight: bold;
	color: white;
}
#sidebarLeft {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 25%;
	padding: 16px;
	background-color: #13c0e5;
	display: flex;
	flex-direction: column;
}
.gotoProfile {
	margin: 0 auto;
	background-color: white;
	color: #13c0e5;
	width: 100%;
	padding: 8px;
	text-align: center;
	border: 1px solid white;
	border-radius: 8px;
	cursor: pointer;
	color: #13c0e5;
	font-weight: bold;
	transition: 0.2s ease;
}
.gotoProfile:hover {
	background-color: #13c0e5;
	color: white;
	border-color: white;
}
#sidebarRight {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 25%;
	padding: 16px;
	background-color: #13c0e5;
	overflow-y: auto;
}
#mainContent {
	background-color: #e4e4e4;
	padding: 24px;
	height: 100%;
}
.postCard {
	background: white;
	border-radius: 8px;
	padding: 16px;
	margin-top: 16px;
}
.input-post {
	margin-left: 16px;
	width: 90%;
	border: none;
	outline: none;
	box-shadow: none;
	resize: none;
}
.profile-photo {
	object-fit: cover;
	width: 40px;
	height: 40px;
	background-color: #999;
	border-radius: 40px;
	flex-shrink: 0;
}
.profile-photo-user {
	object-fit: cover;
	margin-top: 10%;
	width: 150px;
	height: 150px;
	background-color: #999;
	border-radius: 150px;
}
.profile-username {
	margin-top: 5%;
	color: white;
}
.btn-post {
	padding: 8px 16px;
	background-color: #13c0e5;
	color: white;
	font-size: small;
	font-weight: bold;
	border-radius: 16px;
	border-radius: 16px;
	position: absolute;
	right: 16px;
	bottom: 16px;
	cursor: pointer;
}
.btn-post:hover {
	background-color: rgb(16, 142, 170);
}
.friendCard {
	background: white;
	border-radius: 16px;
	padding: 10px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: row;
}
.friendCard > .name {
	margin-top: auto;
	margin-left: 16px;
	font-weight: bold;
}
.profileSection {
	display: flex;
}
.accountIdentity {
	margin-left: 16px;
}
.accountIdentity > p {
	margin: 0;
}
.accountName {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 0.8;
}
.postTime {
	font-size: 0.9em;
	color: #7d7d7d;
}
.btn-like {
	margin-top: 16px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border: solid #2424;
	border-width: 1px 0px;
}
.comment {
	margin: 8px 16px;
	display: flex;
	flex-direction: row;
}
.comment-photo {
	width: 30px;
	height: 30px;
	background-color: #999;
	border-radius: 30px;
	flex-shrink: 0;
}
.comment-id {
	background-color: #eeeeeede;
	margin-left: 16px;
	padding: 10px;
	border-radius: 16px;
}
.commentator {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 0.9em;
}
.comments {
	margin-bottom: 0;
	font-size: 0.9em;
}
.inputComment {
	width: 100%;
	margin: 0px 16px;
	padding: 0px 20px;
	font-size: 0.9em;
	border: none;
	background: #eee;
	border-radius: 16px;
}
.addCommentSection {
	margin-top: 16px;
	display: flex;
}
.submitComment {
	display: flex;
	align-items: center;
	background-color: #13c0e5;
	padding: 0px 10px;
	border-radius: 16px;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
}
