/* ==========LOGIN========== */
.header {
	background-color: #13c0e5;
	height: 5em;
	padding: 1em;
	color: white;
}

.col-isi {
	margin: auto;
}

.col-logo {
	font-family: "Baloo Bhai 2";
	font-size: 34px;
}

.col-form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.table-form {
	top: -17px;
	position: absolute;
	right: 0;
}

.form-login {
	height: 26px;
	padding: 2px;
	margin-left: 10px;
	border-radius: 6px;
	border-style: solid;
	border-width: thin;
	font-size: 12px;
}

.btn-login {
	background-color: white;
	border-color: #13c0e5;
	padding-left: 10px;
	padding-right: 10px;
}

/* ==========REGISTER========== */
.table-register {
	position: absolute;
	right: 0;
	margin-bottom: 30px;
}

.form-register {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 6px;
}

.input-register {
	padding: 5px;
	height: 40px;
	width: 450px;
	font-size: 20px;
	border-color: #13c0e5;
	border-style: solid;
	border-width: thin;
}

.select-register {
	height: 40px;
	width: 80px;
	font-size: 20px;
	margin-right: 17px;
	border-color: #13c0e5;
	border-style: solid;
	border-width: thin;
}

.radio-kelamin {
	margin-inline-start: 10px;
	font-size: 20px;
}

.btn-register {
	background-color: #13c0e5;
	height: 40px;
	width: 150px;
	color: white;
	font-size: 24px;
	/* margin-bottom: 30px; */
}

/* ==========ICON========== */
.img-blob {
	height: 600px;
	width: 700px;
	color: #13c0e5;
}

.img-icon {
	height: 500px;
	width: 500px;
	position: absolute;
	left: 60px;
}

.motto {
	margin-top: -40px;
	margin-left: 50px;
	font-size: 36px;
}

/* Error Message */
.error {
	background-color: #f03434;
	padding: 8px;
	border-radius: 8px;
	color: white;
	font-weight: bold;
}

@media only screen and (max-width: 414px) {
	/* Mobile */
	/* BODY MOBILE */
	.img-blob {
		height: 300px;
		width: 300px;
		margin-left: 20px;
	}

	.img-icon {
		height: 200px;
		width: 200px;
		left: 90px;
		margin-top: 45px;
	}

	.table-register {
		position: relative;
	}

	.input-register {
		height: 30px;
		width: 330px;
		font-size: 18px;
	}

	.select-register {
		height: 20px;
		width: 57px;
		font-size: 14px;
	}

	.btn-register {
		height: 30px;
		width: 150px;
		font-size: 20px;
	}

	h1 {
		font-size: 30px;
	}

	h3 {
		font-size: 23px;
	}

	.motto {
		margin-top: -10px;
		margin-left: 0;
		margin-bottom: -50px;
		text-align: center;
		font-size: 20px;
	}
	/* HEADER MOBILE */
	.col-logo {
		visibility: hidden;
	}

	.form-login {
		width: 100px;
	}
}

@media only screen and (max-width: 1600px) {
	/* Desktop */
	.table-register {
		margin-top: 80px;
	}
}
